<head>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="assets/stylesheets/welcome.scss">
  <link rel="stylesheet" href="assets/stylesheets/application.scss">

</head>

<div class="container-fluid">
  
<div class="row">
  <div class="col-xs-3 col-md-offset-9 ">
  <button class="btn btn-info">
      <%= link_to 'Iniciar sesion', new_user_session_path  %>
  </button>
  <button class="btn btn-success">
      <%= link_to 'Registrarse', new_user_registration_path %>
  </button>
  </div>
</div>

</div>

<div class="container-fluid">
  <div class="row">
    <div class="square">
      <div class="col-md-offset-3"> 
        <h1 style="color:white">Hola Ricardo</h1>
      </div>
    </div>
  </div>  
</div>
    