body{
	background-color:orange;
}


.img-opcion {
     text-align: center;
     margin-left: 20px;
}
.left-button {
	margin-left:60%;
}

// Espacio de las publicaciones principales 
.square{
	// margin-top:-20px;
	width:100%;
	height:450px;
	background-color:#E94E15;
}

.carousel-custom {
	background-color: #000;
	height: 81vh;
}

.carousel-custom .item {
	background-color: #000;
}

.carousel-custom .item img {
	height: calc(100vh - 100px);
	margin: auto;
}

.carousel-custom .item2 {
	height: calc(300vh - 300px);
	margin: auto;
}

.carousel-custom .carousel-indicators img {
	height: 80px;
}

.carousel-custom .carousel-indicators {
	width: 100%;
	margin: 0;
	bottom: 0;
	left: 0;
	padding: 10px;
}

.carousel-custom .carousel-indicators li {
	width: auto;
	height: auto;
	border-radius: 0;
	text-indent: 0;
	border: none;
	padding: 0 5px;
	opacity: 0.5;
}

.carousel-custom .carousel-indicators .active {
	opacity: 1;
	background-color: transparent;
}

.public-peq {
	width:200px;
	height:200px;
}


table{
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}