<div class="dropdown">
  
  <%= form_for(@category) do |f| %>

    <%= f.label :category_type %><br>
        <span class="caret"></span>
    
    <%= f.select :category_type, [ 'Evento','Foro','Curso','Taller', 'Documental', 'Otros' ], :prompt => 'Tipo', class: "btn btn-default dropdown-menu dropdown-toggle" %>

  <% end %>
</div>

