<!DOCTYPE html>
<html>
 <head>
   <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
 </head>
 <body>
     <h1>Bienvenido administrador</h1>
	<p> La persona del correo <%= @user1.email %> quiere realizar  una  publicación con el título <%= @titulo %> en tu aplicación 'Opción Venezuela'.</p>
	<p> Inicia sesión como 'administrador', revisa el contenido y si lo consideras  apropiado, dale  una prioridad del 1 al 10 y cambiale el status a 'activa' para que se vea en la página principal </p>  
 </body>
</html>