<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Bienvenido, <%= @user.name %></h1>
	<p> 	Una persona  quiere realizar  una  publicacion en  tu pagina </p>
	<p> debes realizar  login como administrador, revisar el contenido </p>   
	<p> y si lo consideras  bien, darle  una  prioridad y  cambiarle el status a activa </p>  
  </body>
</html>