<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Bienvenido, <%= @user.name %></h1>
	<h2> 	La persona del correo  <%= @user1.email %>  quiere realizar  una  publicacion en  tu pagina </h2>
	<h2> debes realizar  login como administrador, revisar el contenido y si lo consideras  bien</h2>   
	<h1>darle  una  prioridad del 0 al 10 y  cambiarle el status a activa </h1>  
  </body>
</html>