<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Bienvenido, Administrador</h1>
	<p>El administrador de la aplicación 'Opción Venezuela' ha aprobado tu publicación con el titulo <%= @titulo %>. Puedes entrar en nuestra pagina web y verificar que tu publicacion este activa. Alguna duda o sugerencia, por favor escribenos a traves de opcionvenezuelaorg@gmail.com </p>  
  </body>
</html>